<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="UTN_SPORTS_ModelContainer" connectionString="metadata=res://*/Modelo.UTN_SPORTS_Model.csdl|res://*/Modelo.UTN_SPORTS_Model.ssdl|res://*/Modelo.UTN_SPORTS_Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=5531f47a-d08e-4cb1-a769-a467011017e9.mysql.sequelizer.com;user id=ervptriagbnngclm;password=btHEL5UGHbjuwGuS56Js5wtMZKDiies2N6vS3edo4sbTE8MRRWLrCiHL84NbyKxC;persistsecurityinfo=True;database=db5531f47ad08e4cb1a769a467011017e9&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>