<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRutinas" />
                <binding name="BasicHttpBinding_ITEAM_SOFTWARE" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7215/RutinasWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRutinas"
                contract="ServicioRutina.IRutinas" name="BasicHttpBinding_IRutinas" />
            <endpoint address="http://localhost:7215/Web%20Services/WebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITEAM_SOFTWARE"
                contract="Servicio.ITEAM_SOFTWARE" name="BasicHttpBinding_ITEAM_SOFTWARE" />
        </client>
    </system.serviceModel>
</configuration>